html{
    background-color: rgb(230, 113, 113);
}

.animals {
    display: flex;
    justify-content: space-evenly;
}
.owners {
    display: flex;
    justify-content: space-evenly;
}
.locations {
    display: flex;
    justify-content: space-evenly;
}
.employees {
    display: flex;
    justify-content: space-evenly;
}
.icon--dog {
    width: 50px;
    height: 50px;
}
.icon--person {
    width: 70px;
    height: 50px;
}
.icon--owner {
    width: 100px;
    height: 80px;
}
.icon--head {
    width: 80px;
    height: 80px;
}
.icon--building {
    width: 80px;
    height: 80px;
}
.animal--btn{
    margin-top: .8em;
}

.card {
    margin-top: .8em;
    background-color: rgb(135, 208, 236);
    min-width: 160px;


}
section {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(230, 113, 113);
}
.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.card-link{
    margin-top: .5em;
}

@media only screen and (max-width: 600px) {
    .card {
      display: block;
      width: 100%;
    }
  }